.container-fluid {
    // position: relative;
    padding: 0px!important;
    // background-color: #f5f6f7;
}

.title {
    // margin: 0;
    padding-top: 15px;
    margin-left: 40px; 
    text-align: left;
}

.outer-div {
    margin: 10px 10px 55px 10px;
}